/*NORMELAZIED*/

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

/*IMPORT FONT*/

/* Luciole-Regular */
@font-face {
    font-family: 'Luciole';
    src: url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Luciole_webfonts/Luciole-Regular/Luciole-Regular.svg#Luciole-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
/*Font Archivo Black*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
/*Font Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/*VARIABLES COLOR ET STYLE*/
:root {
    /*variable color*/
    --colorOne: #222222;
    --colorTwo:  #3e8bac;
    --colorThree: #ebebeb;
    --colorFour: #ffffff;
    --colorFive:rgb(245, 246, 250);
  
    /*variable font*/
    --robotoFont: "Roboto", sans-serif;
    --archivoBlackFont: "Archivo Black", sans-serif;
    --typoAccLuciole:'Luciole', sans-serif;
    /* border radius*/
    --borderRadius: 3px;
    --borderShadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*REGLES GENERALE*/

/* flex box */
.flex { 
    display: flex;
    flex-wrap: wrap;
}

/* font */
body {
    font-family: var(--robotoFont);
    background-color: var(--colorFive);
}
